<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
<div class="container mobile-container">
    <div class="row mt-5"></div>
    @RenderBody()
    <div class="row" style="margin: 4rem 0;"></div>
</div>
<nav class="container navbar fixed-bottom d-flex justify-content-around mobile-container">
    <a class="navbar-item" asp-controller="Home" asp-action="Index"><img src="~/icons/home.svg"></a>
    <a class="navbar-item" href="#"><img src="~/icons/statistics.svg"></a>
    <a class="plus-item" asp-controller="Carbohydrate" asp-action="Add"><img src="~/icons/add.svg"></a>
    <a class="navbar-item" asp-controller="Food" asp-action="Index"><img src="~/icons/menu.svg"></a>
    <a class="navbar-item" asp-controller="Account" asp-action="Index"><img src="~/icons/account.svg"></a>
</nav>
</body>
</html>
