@using Diabetes.MVC.Models.Components
@model Diabetes.MVC.Models.Meal.MealViewModel

@{
    ViewData["Title"] = "Приём пищи";
}

@await Component.InvokeAsync("AddSelector", new{ model = new AddSelectorModel(true, false, false) })

<form role="form" method="post">

    <div class="d-flex justify-content-between">
        <h4>Список продуктов</h4>
        <a class="btn btn-outline-primary" asp-controller="FoodForNote" asp-action="Index">Добавить продукт</a>
    </div>

    @await Component.InvokeAsync("FoodListInMeal", new{ model = new FoodForNoteListViewModel(Model.Foods)})

    <hr>
    
    <div class="d-flex justify-content-end">
        <button class="btn btn-outline-secondary" asp-controller="FoodForNote" asp-action="RememberData">Запомнить данные</button>
    </div>
    
    <div class="mb-3">
        <label asp-for="Value" class="form-label"></label>
        <input oninput="onInput()" id="value"  asp-for="Value" class="form-control">
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <span>Итого углеводов: </span>
        <span id="result"></span>
    </div>    
    <div class="mb-3">
        <label asp-for="CreatingDate" class="form-label"></label>
        <input asp-for="CreatingDate" type="date" class="form-control" id="datePicker">
        <span asp-validation-for="CreatingDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CreatingTime" class="form-label"></label>
        <input asp-for="CreatingTime" type="time" class="form-control" id="timePicker">
        <span asp-validation-for="CreatingTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Comment" class="form-label"></label><span><small class="text-muted "> (необязательно)</small></span>
        <textarea asp-for="Comment" class="form-control"></textarea>
    </div>
    <div class="col-lg-6 col-sm-8 pull-right">
        <a class="btn btn-default" asp-controller="Home" asp-action="Index">Отмена</a>
        <button class="btn btn-success" id="btn" type="submit" asp-controller="Carbohydrate" asp-action="Add">Подтвердить</button>
    </div>
</form>

<script>
var now = new Date()
var day = ("0" + now.getDate()).slice(-2);
var month = ("0" + (now.getMonth() + 1)).slice(-2);
var date = now.getFullYear()+"-"+(month)+"-"+(day) ;
var time = now.toLocaleTimeString().substr(0,5)

if ($('#datePicker').val() === '')
    $('#datePicker').val(date);

if ($('#timePicker').val() === '')
    $('#timePicker').val(time);
</script>

<script>
function onInput(){
    let value = Number($("#value").val().replace(',','.'));
    if (!isNaN(value) && value >= 0){
        $("#result").text((value + @Model.FoodsValue).toFixed(2));
    }
    else{
        $("#result").text("Некорректное значение");
    }
}

onInput();
</script>