@{
    ViewData["Title"] = "Настройки";
}

<div class="container mobile-container">
    <h2>Настройки</h2>

    <div class="row">
        <a class="btn btn-outline-secondary"
           asp-controller="SettingsGlucoseLevel" asp-action="Index">Уровень глюкозы в крови
        </a>
    </div>

    <div class="row mt-2"></div>

    <div class="row">
        <a class="btn btn-outline-secondary"
           asp-controller="SettingsCarbohydrates" asp-action="Index">Учет углеводов
        </a>
    </div>

    <div class="row mt-2"></div>

    <div class="row">
        <a class="btn btn-outline-secondary disabled"
           asp-controller="SettingsInsulin" asp-action="Index">Инсулин
        </a>
    </div>

    <div class="row mt-5"></div>

    <div class="row">
        <a class="btn btn-danger"
           asp-controller="Account" asp-action="Index">Назад</a>
    </div>
</div>