@{
    ViewData["Title"] = "О приложении";
}

<div class="container mobile-container">
    <div class="row">
        <h2>Diabetes v1.0</h2>
    </div>
    <div class="row">
        Приложение для больных диабетом
    </div>
    <div class="row">
        Разработчики:
    </div>
    <div class="row">
        - Валеев Рустам
    </div>
    <div class="row">
        - Зырянова Анна
    </div>
    <div class="row">
        - Корзников Артем
    </div>
    <div class="row">
        - Чирухин Дмитрий
    </div>
    <div class="row">
        - Шерстобитов Андрей
    </div>
</div>