@using Diabetes.MVC.Models.Components
@model Diabetes.MVC.Models.CreateGlucoseLevelViewModel

@await Component.InvokeAsync("AddSelector", new{ model = new AddSelectorModel(false, false, true) })

@{
    ViewData["Title"] = "Уровень глюкозы";
}

<form asp-controller="GlucoseLevel" asp-action="AddGlucoseLevel" role="form" method="post">
    <div class="mb-3">
        <label asp-for="ValueInMmol" class="form-label"></label>
        <input asp-for="ValueInMmol" class="form-control" type="number" step="0.01" value="0">
        <span asp-validation-for="ValueInMmol" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="MeasuringDate" class="form-label"></label>
        <input asp-for="MeasuringDate" type="date" class="form-control" id="datePicker" min="0001-01-01" max="9999-12-31">
        <span asp-validation-for="MeasuringDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="MeasuringTime" class="form-label"></label>
        <input asp-for="MeasuringTime" type="time" class="form-control" id="timePicker">
        <span asp-validation-for="MeasuringTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Comment" class="form-label"></label>
        <textarea asp-for="Comment" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="BeforeAfterEating" class="form-label"></label>
        <select name="eating" onchange="$('#eatingValue').val(this.value)">
            <option value="Before">До еды</option>
            <option value="After">После еды</option>
        </select>
        <input asp-for="BeforeAfterEating" id="eatingValue" value="Before" class="invisible">
        <span asp-validation-for="BeforeAfterEating" class="text-danger"></span>
    </div>
    <div class="col-lg-6 col-sm-8 pull-right">
        <a class="btn btn-default" asp-controller="Home" asp-action="Index">Отмена</a>
        <button class="btn btn-success" id="btn" type="submit">Подтвердить</button>
    </div>
</form>

<script>
var now = new Date()
var day = ("0" + now.getDate()).slice(-2);
var month = ("0" + (now.getMonth() + 1)).slice(-2);
var date = now.getFullYear()+"-"+(month)+"-"+(day) ;
var time = now.toLocaleTimeString().substr(0,5)

$('#datePicker').val(date);
$('#timePicker').val(time);
</script>