@using Diabetes.MVC.Models.Components
@using Diabetes.Domain.Normalized.Enums
@model Diabetes.MVC.Models.EditGlucoseLevelViewModel

@{
    ViewData["Title"] = "Уровень глюкозы";
}

<form asp-controller="GlucoseLevel" asp-action="EditGlucoseLevel" method="post">
    <div class="mb-3">
        <input asp-for="Id" class="form-control invisible">
    </div>
    <div class="mb-3">
        <label asp-for="ValueInMmol" class="form-label"></label>
        <input asp-for="ValueInMmol" class="form-control">
        <span asp-validation-for="ValueInMmol" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="MeasuringDate" class="form-label"></label>
        <input asp-for="MeasuringDate" type="date" class="form-control" id="datePicker" min="0001-01-01" max="9999-12-31">
        <span asp-validation-for="MeasuringDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="MeasuringTime" class="form-label"></label>
        <input asp-for="MeasuringTime" type="time" class="form-control" id="timePicker">
        <span asp-validation-for="MeasuringTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Comment" class="form-label"></label>
        <textarea asp-for="Comment" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="MeasuringTimeType" class="form-label"></label>
        <select asp-for="MeasuringTimeType" asp-items="Html.GetEnumSelectList<MeasuringTimeType>()"></select>
        <span asp-validation-for="MeasuringTimeType" class="text-danger"></span>
    </div>
    <div class="col-lg-6 col-sm-8 pull-right">
        <a class="btn btn-default" asp-controller="Home" asp-action="Index">Отмена</a>
        <button class="btn btn-success" id="btn" type="submit">Подтвердить</button>
    </div>
</form>