.navbar{
  background-color: #F9FFFD;
  padding: 20px 0;
}

.mobile-container{
  max-width: 576px;
}

.plus-item{
  background-color: #3CA6A6;
  padding: 14px;
  border-radius: 46px;
}

.primary{
  color: #3CA6A6;
}

.icon{
  width: 70px;
}

.active{
  background-color: #3CA6A6;
  padding: 14px;
  border-radius: 46px;
}

.inactive{
  background-color: #ffffff;
  padding: 13px;
  border-radius: 46px;
  border: 1px #000000 solid; 
}

