@using ShieldUI.AspNetCore.Mvc
@using Diabetes.Domain.Enums
@model Diabetes.MVC.Models.StatisticsGlucoseViewModel
@{
    ViewData["Title"] = "Статистика";
}

<div class="d-flex justify-content-around">
    <a class="btn active" asp-controller="StatisticsGlucose" asp-action="Index">Глюкоза</a>
    <a class="btn" asp-controller="StatisticsInsulin" asp-action="Index">Инсулин</a>
    <a class="btn" asp-controller="StatisticsCarbohydrates" asp-action="Index">Углеводы</a>
</div>

<div class="row mt-3"></div>

<div class="container mobile-container">
    <form asp-controller="StatisticsGlucose" asp-action="GlucoseGraphics" role="form" method="get">
        <select asp-for="GlucoseAdditional" asp-items="Html.GetEnumSelectList<MeasuringTimeTypeExtended>()" onchange="this.form.submit()"></select>
        <select asp-for="GlucoseTimePeriod" asp-items="Html.GetEnumSelectList<TimePeriods>()" onchange="this.form.submit()"></select>
    </form>

    @(Html.ShieldChart(Model.GetData())
    .Name("chart")
   .Tooltip(tooltip => tooltip.AxisMarkers(axisMarkers => axisMarkers
        .Enabled(true)
        .Mode(ShieldUI.AspNetCore.Mvc.Chart.TooltipAxisMarkerMode.XY)
        .Width(1)
        .ZIndex(3)))
    .Theme("light")
    .PrimaryHeader(header => header.Text("Изменение уровня глюкозы"))
    .Export(false)
    .AxisX(axisX => axisX.CategoricalValues(model => model.Categorical))
    .DataSeries(series =>
        series.Spline()
              .Name("Уровень глюкозы")
              .Data(model => model.Value)))

    <div class="mb-3">
        <div>Минимальное значение: @(Model.Values.Count == 0 ? "неизвестно" : Model.Values.Min().ToString())</div>
        <div>Среднее значение: @(Model.Values.Count == 0 ? "неизвестно" : Model.Values.Average().ToString())</div>
        <div>Максимальное значение: @(Model.Values.Count == 0 ? "неизвестно" : Model.Values.Max().ToString())</div>
    </div>
</div>

<div class="row mt-3"></div>