@using Diabetes.MVC.Models.Components
@model Diabetes.MVC.Models.HomeViewModel

@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="container mobile-container">
    <h1>Привет, @Model.UserName</h1>
</div>

<div class="row mt-5"></div>

<div class="container mobile-container">
    <h2>Последние действия</h2>
</div>

<div class="row mt-3"></div>

<div class="container mobile-container">
    @await Component.InvokeAsync("ActionItemsList", new{ model = new ActionItemsListViewModel(Model.ActionHistoryItems) })
    
    <div class="row mt-3"></div>
    <div class="row">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Actions">Показать больше</a>
    </div>

</div>